<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理中心</title>
    <link rel="stylesheet" href="../css/managerPage.css">
</head>

<body>
    <div id="app">
        <div class="top">
            <div class="logo" > </div>
            <div class="title">管理中心</div>
            <button class="logout-btn" id="returnMain" @click="logoutButton">登出</button>
        </div>
        <div class="bottom-left">
        <div class="menu">
          
            <div class="userList">
                <button @click="showUsers">用户列表</button>
            </div>

            <div class="paperList">
                <button @click="showPapers">问卷列表</button>
            </div>

            <div class="personal">
                <button @click="showUser">个人资料</button>
            </div>
        </div>




        </div>
        <div class="visualPart">
            <div class="pagename" v-if="currentComponent">
                <!-- 显示所有问卷列表 -->
                <div class="content" v-if="currentComponent === 'paperList'">
                    <h2>问卷列表</h2>
                    <button class="mutiManage" @click="changeBatch">批量管理</button>
                    <button class="delete" @click="deletePapers" v-if="batchProcessing">删除</button>
                    <ul>
                        <div v-for="paper in papers" :key="paper.pid">
                            <input type="checkbox" v-model="pidList" :value="paper.pid" v-if="batchProcessing">
                            <!-- 可能显示别的信息,例如创建时间 -->
                            <li>{{paper.title}}</li>
                            <button @click="viewResult(paper.pid)" v-if="!batchProcessing">查看问卷及结果</button>
                        </div>
                    </ul>
                    <button class="former" @click="prevPage" :disabled="currentPage === 1">上一页</button>
                    <button class="next" @click="nextPage" :disabled="currentPage === totalPages">下一页</button>
                </div>

                <!-- 显示所有用户列表 -->
                <div class="content" v-if="currentComponent === 'userList'">
                    <h2>用户列表</h2>
                    <button class="mutiManage" @click="changeBatch">批量管理</button>
                    <button class="delete" @click="deleteUsers" v-if="batchProcessing">删除</button>
                    <ul>
                        <div v-for="user in users" :key="user.uid">
                            <input type="checkbox" v-model="uidList" :value="user.uid" v-if="batchProcessing">

                            <li>
                                {{user.username}}
                                <!-- 可以用颜色区分 -->
                                <div class="tag" v-if="user.ban==0">
                                    普通用户
                                </div>
                                <div class="tag" v-if="user.ban==1">
                                    黑名单用户
                                </div>
                            </li>
                            <button class="ban" @click="black(user.uid)" v-if="!batchProcessing&&user.ban==0">拉入黑名单</button>
                            <button class="unban" @click="cancel(user.uid)" v-if="!batchProcessing&&user.ban==1">解除黑名单</button>
                        </div>
                    </ul>
                    <button class="former" @click="prevPage" :disabled="currentPage === 1">上一页</button>
                    <button class="next" @click="nextPage" :disabled="currentPage === totalPages">下一页</button>
                </div>

                <!-- 显示个人资料 -->
                <div class="content" v-if="currentComponent === 'user'">
                    <h2>个人资料</h2>


                </div>
            </div>
        </div>
    </div>

    <!-- 登出 -->
  

</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="../js/managerPage.js"></script>

</html>