<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>个人中心</title>
    <link rel="stylesheet" href="../css/zone.css">
</head>

<body>
    <div id="app">
        <div class="menu">
            <div class="user">
                <div class="nickname">昵称

                </div>
                <div class="head">头像


                </div>




            </div>
            <div class="mySurveys">
                <button @click="showPapers">我的问卷</button>
            </div>

            <div class="myTemplates">
                <button @click="showTemplates">我的模版</button>
            </div>

            <div class="personal">
                <button @click="showUser">个人资料</button>
            </div>

            <div class="finish">发布数:

            </div>


        </div>
        <div class="visualPart">
            <div class="pagename" v-if="currentComponent">
                <!-- 显示我的问卷列表 -->
                <div class="content" v-if="currentComponent === 'myPapers'">
                    <h2>我的问卷</h2>
                    <button @click="changeBatch">批量管理</button>
                    <button @click="deletePapers" v-if="batchProcessing">删除</button>
                    <ul>
                        <div v-for="paper in papers" :key="paper.pid">
                            <input type="checkbox" v-model="pidList" :value="paper.pid" v-if="batchProcessing">
                            <!-- 可能显示别的信息,例如创建时间 -->
                            <li>{{paper.title}}</li>
                            <button @click="fillPaper(paper.pid)" v-if="!batchProcessing">填写</button>
                            <button @click="modifyPaper(paper.pid)" v-if="!batchProcessing">修改</button>
                            <button @click="viewResult(paper.pid)" v-if="!batchProcessing">查看结果</button>
                        </div>
                    </ul>
                    <button @click="prevPage" :disabled="currentPage === 1">上一页</button>
                    <button @click="nextPage" :disabled="currentPage === totalPages">下一页</button>
                </div>

                <!-- 显示我的模版列表 -->
                <div class="content" v-if="currentComponent === 'myTemplates'">
                    <h2>我的模版</h2>
                    <button @click="changeBatch">批量管理</button>
                    <button @click="deletePapers" v-if="batchProcessing">删除</button>
                    <ul>
                        <div v-for="paper in papers" :key="paper.pid">
                            <input type="checkbox" v-model="pidList" :value="paper.pid" v-if="batchProcessing">

                            <li>{{paper.title}} 点赞数:{{paper.like}}</li>
                            <button @click="use(paper.pid)" v-if="!batchProcessing">使用</button>
                            <button @click="modifyTemplate(paper.pid)" v-if="!batchProcessing">修改</button>
                        </div>
                    </ul>
                    <button @click="prevPage" :disabled="currentPage === 1">上一页</button>
                    <button @click="nextPage" :disabled="currentPage === totalPages">下一页</button>
                </div>

                <!-- 显示个人资料 -->
                <div class="content" v-if="currentComponent === 'user'">
                    <h2>个人资料</h2>
                    <div id="user">
                        <!-- 用户头像显示及放大查看 -->
                        <div class="avatar-container">
                            <img class="avatar" :src="userAvatarUrl" @click="showAvatarModal" alt="用户头像">
                            <button @click="changeAvatar">更改头像</button>
                        </div>

                        <!-- 放大查看头像的模态框 -->
                        <div class="modal" v-if="showModal">
                            <div class="modal-content">
                                <span class="close" @click="closeModal">&times;</span>
                                <img class="modal-image" :src="userAvatarUrl" alt="放大查看头像">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="returnButton">
        <button id="returnMain">返回主页</button>

    </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="../js/zone.js"></script>

</html>