body{
    height: 100%;
    position: relative;
    width:100%;
    margin:0;
    background-image: url(../wallhaven-g73l2l.jpg);   
    background-size: cover;
    background-repeat: no-repeat;

    
}
.user
{  background-color: brown;
   display: flex;
   margin:10px;
   justify-content: space-around;


}
.menu
{   position: relative;
   
    width:260px;
    top:0;
    bottom: 0;
    left:0;
    height: 70vh;
 
    display:flex;
    flex-direction: column;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size:25px;
    background: url(../cartoon_artwork-2247396.jpg!d);
    overflow: hidden;
    background-size: cover;

   

}
.menu > * {
    /* 间距大小 */
    flex: 0 0 auto; /* 确保每个子块都占据一行 */
    padding:20px; /* 文字与块的间距 */
    border:5px solid silver;
    transition: 0.3s ease-in-out;
}
.menu > *:hover {
    /* 间距大小 */
    font-size:30px ;
}
.mySurveys button {
    opacity: 0.8;
    background-color: #007bff; /* 设置背景颜色为蓝色 */
    color: white; /* 设置字体颜色为白色 */
    border: 1px solid #007bff; /* 设置边框为蓝色实线 */
    padding: 10px 20px; /* 设置内边距 */
    font-size: 20px; /* 设置字体大小 */
    cursor: pointer; /* 鼠标悬停时显示手型光标 */
    border-radius: 5px; /* 设置圆角 */
    transition: background-color 0.3s ease; /* 添加过渡效果 */
}

.mySurveys button:hover {
    background-color: #0056b3; /* 悬停时背景颜色变为深蓝色 */
    border-color: #0056b3; /* 悬停时边框颜色变为深蓝色 */
}
.dataAnalyze button{
    opacity: 0.8;
    background-color: #007bff; /* 设置背景颜色为蓝色 */
    color: white; /* 设置字体颜色为白色 */
    border: 1px solid #007bff; /* 设置边框为蓝色实线 */
    padding: 10px 20px; /* 设置内边距 */
    font-size: 20px; /* 设置字体大小 */
    cursor: pointer; /* 鼠标悬停时显示手型光标 */
    border-radius: 5px; /* 设置圆角 */
    transition: background-color 0.3s ease; /* 添加过渡效果 */

}
.dataAnalyze button:hover{
    background-color: #0056b3; /* 悬停时背景颜色变为深蓝色 */
    border-color: #0056b3; /* 悬停时边框颜色变为深蓝色 */
}
.personal button{
    opacity: 0.8;
    background-color: #007bff; /* 设置背景颜色为蓝色 */
    color: white; /* 设置字体颜色为白色 */
    border: 1px solid #007bff; /* 设置边框为蓝色实线 */
    padding: 10px 20px; /* 设置内边距 */
    font-size: 20px; /* 设置字体大小 */
    cursor: pointer; /* 鼠标悬停时显示手型光标 */
    border-radius: 5px; /* 设置圆角 */
    transition: background-color 0.3s ease; /* 添加过渡效果 */
  

}
.personal button:hover
{
    background-color: #0056b3; /* 悬停时背景颜色变为深蓝色 */
    border-color: #0056b3; /* 悬停时边框颜色变为深蓝色 */
}
.finish{
   
    text-align: left;
    margin-top: 50px;

}
.read
{
    
    text-align: left;
}
.waiting
{
    
    text-align: left;
}
.pagename{
    width: 5%;
    height: 3%;
    background-color: rgb(200, 200, 221);
    position: absolute;
    top:0;
    left:15%;
    text-align: center;
    padding:5px;
}
.returnButton
{   position: absolute;
    top:0;
    right:1%;
    background-color: azure;
    border-radius: 5px;
    font-size: 25px;
    opacity: 0.75;
}